
  <header>
    <nav class="navbar">
      <div class="container">
          {{#link-to 'index'}}<a class="navbar-brand" id="brand-logo">
            <p><img id="brand-image"src="/assests/images/alien2.png" width="50" height="50"  class="d-inline-block align-top" alt=""> <span id="brand-text">Realiens</span> </p>
          </a> {{/link-to}}

          <a class="navbar-brand" href="#">
            <img src="/assests/images/spaceship.png" width="50" height="30" class="d-inline-block align-top" alt="">
            <p>UFOs</p>
          </a>
          <a class="navbar-brand" href="#">
            <img class="nav-icons" src="/assests/images/abduction.png" width="40" height="30" class="d-inline-block align-top" alt="">
            <p>Abuduction</p>
          </a>
          <a class="navbar-brand" href="#">
            <img class="nav-icons" src="/assests/images/fanfiction.png" width="40" height="30" class="d-inline-block align-top" alt="">
            <p>Fan Fiction</p>

          </a>
      </div>
    </nav>
  </header>
<div class= "container">
  {{outlet}}
</div>
  <footer>

  </footer>
